﻿@{
    ViewData["Title"] = "About";
}
<br />
<br />

<p>Upload your Excel file here</p>


<hr />

<div>
    <form asp-action="InsertFromExcel" method="post" enctype="multipart/form-data">
       <div class="form-group">
           <label class="control-label">Excel File:</label>
           <input type="file" class="" name="theExcel"/><br />
       </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                     <input type="submit" value="Upload Data" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>